- provide(:title, "Log in")
.border-form-div
  %h2
    Sign in
  = form_for(:session, url: login_path) do |f|
    = render 'shared/error_messages'
    = f.email_field :email, placeholder: 'Email adress', required: true
    = f.password_field :password, placeholder: 'Password', required: true
    = f.submit "Log in", class: "btn btn-primary"
    %p
      New user?
      = link_to "Sign up now!", signup_path
