- provide(:title, 'Sign up')
.border-form-div
  %h2
    Sign up
  = form_for(@user, url: signup_path) do |f|
    = render 'shared/error_messages'
    = f.text_field :name,placeholder: 'Name', required: true
    = f.email_field :email, placeholder: 'Email adress', required: true
    = f.password_field :password, placeholder: 'Password', required: true
    = f.password_field :password_confirmation, placeholder: 'Password confirmation', required: true

    = f.submit "Create account", class: "btn btn-primary"
