%h1 Listing products
.container
  .index-wrap
    %table#table1.table-hover.table-active
      %thead
        %tr
          %th Name
          %th Category
          %th Price
          %th Image
          %th
          %th

      %tbody
        - @products.each do |product|
          %tr
            %td= product.name
            %td= product.category
            %td= product.price
            - if product.image.attached?
              %td= cl_image_tag(product.image.key, width: 50, height: 50, crop: "scale")
            %td= link_to 'Show', product
            %td= link_to 'Edit', edit_product_path(product)
            %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }
    = will_paginate @products
    %br
    = link_to 'New Product', new_product_path

