%p#notice= notice
.container
  .product-wrap
    %p
      %b Id:
      = @order.id
    %p
      %b User Id:
      = @order.user.id
      = @order.user.email
    %p
      %b Processed:
      = @order.processed?
    %p
      %b Sent:
      = @order.sent?
    %p
      %b Price:
      = @order.total_price
    %p
      %b Products:
      - @order.products.each do |product|
        %p
          = product.name
    =button_to "Handle",order_handle_order_path,class:"btn btn-primary", method: :post
    %br
    \|
    = link_to 'Back', orders_path
