.navbar.fixed-top.navbar-costum.navbar-default.navbar-expand-lg.navbar-custom
  %div.container
    %a.navbar-brand{href: "#", rel: "home"}
      = image_tag ("logo.png")
    %a.navbar-brand{href: "#"}
      EUREKA
      %br/
      CAFFE
    %ul.nav.navbar-nav.navbar-right.bullet.ml-auto
      %li.nav-item= link_to "HOME", root_path
      %li.nav-item= link_to "ABOUT", '#'
      %li.nav-item= link_to "SERVICE", '#'
      - if logged_in?
        %li.nav-item= link_to "LOG OUT", logout_path, method: :delete
      -else
        %li.nav-item= link_to "LOG IN", login_path
      %li.nav-item=link_to "CONTACTS", '#'
      -if current_user&.admin?
        %li.nav-item=link_to "ADMIN", admin_path
.jumbotron#jumbotron-costum
  .container
    %h1
      Ordering food
    %p.lead
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. |
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
