.row.container.wrapper.box1
  - @products.each do |product|
    .body.col-lg-3.col-md-4.col-sm-6.image-hover.col-wrap
      .menu-image
        = cl_image_tag(product.image.key)
      .item
        = link_to product.name, product
      .category
        = product.category
      .price
        = "#{product.price} &#36;".html_safe